<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Add new budget</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <h1>Add new budget</h1>
        <div class="row">
            <div class="col-md-6">
                <form th:object="${budget}" th:action="@{savebudget}" action="#" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" th:field="*{name}" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="month">Month</label>
                        <input type="number"  id="month" th:field="*{month}" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="year">Year</label>
                        <input type="number" id="year" th:field="*{year}" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="number" id="amount" th:field="*{amount}" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <a th:href="@{/purchaselist}" class="btn btn-secondary">Back to Purchase List</a>
            </div>
        </div>
    </div>
</body>
</html>
